*{
  font-family: 'Courier New', Courier, monospace;
}
body{
  padding: 60px;
  background-color: rgb(75, 69, 69);
  color: #fff;
}

input{
  width: 100%;
  font-size: 1.2rem;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
}

.card p{
  padding: 1em;
  background-color: rgb(96, 98, 99);
  color: #fff;
  text-align: center;
}
.card img{
  max-width: 40vw;
  max-height: 40vh;
  min-width: 35vw;
  min-height: 35vh;
}

